/*#######################################################################################*/
/*## CSS RESET ##########################################################################*/
/*#######################################################################################*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#######################################################################################*/
/*## CSS RESET ##########################################################################*/
/*#######################################################################################*/


/*  Default Layout:992px. 
  Gutters:24px.
  Outer margins:48px.
  Leftover space for scrollbars @1024px:32px.
-------------------------------------------------------------------------------
cols  1  2  3  4  5  6  7  8  9  10
px   68  160  252  344  436  528  620  712  804  896  */

body{ width:100%; background: #f5f5f5; font-family: arial, sans-serif; font-size:12px; color:#770206; margin:0px; }

a:link{ color:#770206; text-decoration:none; border:none; }
a:visited{ color:#770206; }
a:hover{ color:#000; }
a:active{ color:#770206; }

img{ border:none; }

ul{ display:block; position:relative; margin:0px; padding:0px; }
ul li{ display: inline-block; position:relative; margin:0px; padding:0px; vertical-align: middle; list-style: none; }
 
div{ position:relative; }

#header{ position: fixed; top: 0px; width: 100%; z-index: 99999; }
#header #header-wrapper{ width: 950px; height: 133px; min-height:133px; margin: 0 auto; border-top: 2px solid #770206; overflow: hidden; background:#770206  url(../image/bg/header_line.png) repeat-x left bottom; padding: 0px 20px 0px 20px; }

#header #header-wrapper #contact{ float:left; overflow:hidden; margin: 0px 0px 0px 20px; width: 190px; }
#header #header-wrapper #contact #info { float:left; margin: 10px 0px 0px 0px; text-align: center; }
#header #header-wrapper #contact #info a{ }
#header #header-wrapper #contact #info a img{ width:85px; height:auto; }
#header #header-wrapper #contact #info span { display:block; font-weight: bold; color:#fff; }
#header #header-wrapper #contact ul{ float:right; margin: 18px 0px 0px 5px; width: 100px; }
#header #header-wrapper #contact ul li{ display: block; margin: 0px 0px 0px 0px; font-weight: bold; text-transform: uppercase; width: 100%; }
#header #header-wrapper #contact ul li img{ width:100%; height:auto; margin: 5px 0px 0px 0px; }

#header #header-wrapper #logo{ float:left; margin: 0px 0px 0px 110px; height:99%; }
#header #header-wrapper #logo a{}
#header #header-wrapper #logo a img{ width:auto; height:98%; }
#header #header-wrapper #logo a #logo_full{ display:block; }
#header #header-wrapper #logo a #logo_small{ display:none; }

#header #header-wrapper #menu{ margin: 5px 20px 0px 0px; overflow: hidden; }

#header #header-wrapper #menu #mobile{ display:none; float: right; margin: 10px 20px 0px 0px; }
#header #header-wrapper #menu #mobile img{ display: block; width:50px; height:50px; }

#header #header-wrapper #menu #social-bar{ float:right; margin: 0px 20px 0px 0px; }
#header #header-wrapper #menu #social-bar ul{ margin: 0px 0px 0px 0px; }
#header #header-wrapper #menu #social-bar ul li{}
#header #header-wrapper #menu #social-bar ul li a{  }
#header #header-wrapper #menu #social-bar ul li img{ width:21px; height:21px; display:block; }

#header #header-wrapper #menu #nav-inst{ position:relative; float:right; margin: 0px 10px 0px 0px; }
#header #header-wrapper #menu #nav-inst ul{}
#header #header-wrapper #menu #nav-inst ul li{ display: inline; white-space: nowrap; }
#header #header-wrapper #menu #nav-inst ul li:after { content: " \00b7"; font-size:16px; font-weight:bold; color:#fff; }
#header #header-wrapper #menu #nav-inst ul li a{ color:#fff; font-weight:bold; text-transform:uppercase; font-size: 10px; }
#header #header-wrapper #menu #nav-inst ul li a:hover{ color:#FCAE23; }
  
#header #header-wrapper #menu #nav{ position:relative; float:right; clear: right; margin: 11px 0px 0px 0px; }
#header #header-wrapper #menu #nav ul{}
#header #header-wrapper #menu #nav ul li{ width: 100px; text-align: center;}
#header #header-wrapper #menu #nav ul li a{ color: #fff; font-weight: bold;  text-transform:uppercase; font-size: 11px; }
#header #header-wrapper #menu #nav ul li a:hover{ color:#FCAE23; }
#header #header-wrapper #menu #nav ul li a img{ display: block; width:50px; height:50px; margin:0 auto; margin-bottom: 2px; }

#header #header-wrapper #line{ background:url(../image/bg/header_line.png) repeat-x; clear: both; height: 1px; margin:12px 0px 0px 0px; }


#section{ clear:both; width:950px; margin: 130px auto; display: block; padding: 0px 20px 20px 20px; background:#fff; margin-bottom: 0px; }
#section .section{ clear:both; display: block; width: 100%; padding: 10px 0px 40px 0px; background:url(../image/bg/header_line.png) repeat-x left bottom; overflow: hidden; min-height:400px; }
#section .section-wrapper{ width:910px; margin: 0 auto; padding: 5px 0px 40px 0px; }
#section #section-banner{ min-height: 0px; padding: 10px 0px 0px 0px; }
#section #section-cardapio{ }
#section #section-promocao{ }
#section #section-entrega{ }
#section #section-fidelidade{ }



#footer{ clear:both; width: 950px; margin: 0 auto; background: #770206; color:#fff; overflow: hidden; padding: 0px 20px 0px 20px; }
#footer #info{ float:left; margin:13px 0px 10px 105px; width: 740px; text-align:center;  }
#footer #conduct{ float:right; margin:10px }
#footer #numedia{ float:right; margin:10px }
 
#pedidoonline_popup{ position: initial; background: #fff; margin: 20px; padding: 20px; max-width: 460px; } 
#pedidoonline_popup .mfp-close{ right: 10px; top: 10px; }
#pedidoonline_popup ul{ } 
#pedidoonline_popup ul a{ color: #fff; text-transform: uppercase; font-weight: bold; }
#pedidoonline_popup ul a li{ background: #f7951e; text-align: center; border-bottom: 1px solid #770206; margin: 0px 0px 0px 0px; padding: 10px 0px 10px 0px; width: 32%; font-size: 12px; }
#pedidoonline_popup ul a li span{ display: block; }
#pedidoonline_popup ul a li img{ width:62px; }
  


  
.CSSTableGenerator {
	margin:0px;padding:0px;
	border:1px solid #ffffff;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {

}
.CSSTableGenerator table tr:first-child td:first-child {

}
.CSSTableGenerator table tr:first-child td:last-child {

}
.CSSTableGenerator tr:last-child td:first-child{

}
.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr{ background-color:#ffffff; }
.CSSTableGenerator tr:nth-child(odd){ background-color:#FFE1A9; }
.CSSTableGenerator tr:nth-child(even){ background-color:#ffffff; }
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:12px 20px 12px 20px; 
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background-color:#d37302;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background-color:#d37302;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.noItem{
	visibility: hidden;
}
/*  Tablet Layout:768px.
  Gutters:24px.
  Outer margins:28px.
  Inherits styles from:Default Layout.
-----------------------------------------------------------------
cols  1   2   3   4   5   6   7   8
px   68  160  252  344  436  528  620  712  */

@media only screen and (min-width:768px) and (max-width:991px) {
	#header{ }
	#header #header-wrapper{ width: 100%; padding: 0px; }
	
	#header #header-wrapper #contact{ margin: 0px 0px 0px 10px }
	#header #header-wrapper #contact img{ }
	#header #header-wrapper #contact ul{ }
	#header #header-wrapper #contact ul li{ }
	#header #header-wrapper #contact ul li img{ }
	
	#header #header-wrapper #logo{ margin: 0px 0px 0px 15px; }
	#header #header-wrapper #logo a{}
	#header #header-wrapper #logo a img{ }
	#header #header-wrapper #logo a #logo_full{ display:block; }
	#header #header-wrapper #logo a #logo_small{ display:none; }
	
	#header #header-wrapper #menu{ margin: 5px 10px 0px 0px; }
	
	#header #header-wrapper #menu #mobile{ display:none; }
	#header #header-wrapper #menu #mobile img{ }
	
	#header #header-wrapper #menu #social-bar{ }
	#header #header-wrapper #menu #social-bar ul{ }
	#header #header-wrapper #menu #social-bar ul li{ }
	#header #header-wrapper #menu #social-bar ul li a{ }
	#header #header-wrapper #menu #social-bar ul li img{ display:block; }
	
	#header #header-wrapper #menu #nav-inst{ }
	#header #header-wrapper #menu #nav-inst ul{ }
	#header #header-wrapper #menu #nav-inst ul li{ }
	#header #header-wrapper #menu #nav-inst ul li:after { }
	#header #header-wrapper #menu #nav-inst ul li a{ }
	#header #header-wrapper #menu #nav-inst ul li a:hover{ }
		  
	#header #header-wrapper #menu #nav{ }
	#header #header-wrapper #menu #nav ul{}
	#header #header-wrapper #menu #nav ul li{ width: 90px; }
	#header #header-wrapper #menu #nav ul li a{ font-size: 10px; }
	#header #header-wrapper #menu #nav ul li a:hover{  }
	#header #header-wrapper #menu #nav ul li a img{ display:block; }
	
	#header #header-wrapper #line{ }
	
	
	#section{ width: 100%; padding: 0px; }
	#section .section{ }
	#section .section-wrapper{ width:100%; }
	#section #section-banner{ }
	#section #section-cardapio{ }
	#section #section-promocao{ }
	#section #section-entrega{ }
	#section #section-fidelidade{ }
	
	
	
	#footer{ width: 100%; padding: 0px; }
	#footer #info{ margin: 13px 0px 10px 20px; width:auto; }
	#footer #numedia{ }
} 

/*  
 Mobile Layout:480px.
 Gutters:24px.
 Outer margins:22px.
 Inherits styles from:Default Layout
 
 //position:relative;
*/

@media only screen and (max-width:767px) {
	#header{ }  
	#header #header-wrapper{ width: 100%; height: auto; min-height: 70px; height:auto; background:url(../image/bg/header_line.png) repeat-x left bottom #820102; padding: 0px; }
	
	#header #header-wrapper #contact{ display:none; width: 214px;  }
	#header #header-wrapper #contact img{ display:none; }
	#header #header-wrapper #contact ul{ width:100%; }
	#header #header-wrapper #contact ul li{ float: left; }
	#header #header-wrapper #contact ul li img{ display:block; width: auto; height: 27px; margin: 1px 0px 0px 0px; }
	
	#header #header-wrapper #logo{ margin: 0px 0px 2px 10px; height: 68px;}
	#header #header-wrapper #logo a{}
	#header #header-wrapper #logo a img{  }
	#header #header-wrapper #logo a #logo_full{ display:none; }
	#header #header-wrapper #logo a #logo_small{ display:block; }
	
	#header #header-wrapper #menu{ margin: 5px 0px 0px 0px; overflow: visible; }
	
	#header #header-wrapper #menu #mobile{ display:block; margin: 0px 20px 0px 0px; }
	#header #header-wrapper #menu #mobile img{ width:50px; height:50px; }
	
	#header #header-wrapper #menu #social-bar{ display:none; }
	#header #header-wrapper #menu #social-bar ul{ }
	#header #header-wrapper #menu #social-bar ul li{  }
	#header #header-wrapper #menu #social-bar ul li a{ }
	#header #header-wrapper #menu #social-bar ul li img{ width:40px; height:40px; }
	
	#header #header-wrapper #menu #nav-inst{ clear: both; float: none; margin: 95px 0px 0px 0px;  display:none; background: #f7951e; }
	#header #header-wrapper #menu #nav-inst ul{ }
	#header #header-wrapper #menu #nav-inst ul li{ text-align: center; margin: 5px 20% 0px 20%; width: 60%; display: inline-block; }
	#header #header-wrapper #menu #nav-inst ul li:after { content: ""; }
	#header #header-wrapper #menu #nav-inst ul li a{ display:block; font-weight: bold; text-transform: uppercase; font-size: 14px; color:#fff; background:#770206; padding:12px 5px 12px 5px; text-decoration:none; }
	#header #header-wrapper #menu #nav-inst ul li a:hover{ color:#770206; background:#d37302; }
		  
	#header #header-wrapper #menu #nav{ clear: both; float:none; margin: 0px 0px 2px 0px; padding: 0px 0px 5px 0px;  display:none; background: #f7951e;  }
	#header #header-wrapper #menu #nav ul{ width: 100%; }
	#header #header-wrapper #menu #nav ul li{ text-align: center; margin: 5px 20% 0px 20%; width: 60%; display: inline-block;  }
	#header #header-wrapper #menu #nav ul li a{ display:block; font-weight: bold; text-transform: uppercase; font-size: 14px; color:#fff; background:#770206; padding:12px 5px 12px 5px; text-decoration:none; }
	#header #header-wrapper #menu #nav ul li a:hover{ color:#770206; background:#d37302; }
	#header #header-wrapper #menu #nav ul li a img{ display:none; }
	
	#header #header-wrapper #line{ margin: 0px 0px 0px 0px; }
	
	
	#section{ width: 100%; margin: 70px auto; padding: 0px; }
	#section .section{ min-height:inherit; padding: 5px 0px 20px 0px; }
	#section .section-wrapper{ width: 100%; }
	#section #section-banner{ }
	#section #section-cardapio{ }
	#section #section-promocao{ }
	#section #section-entrega{ }
	#section #section-fidelidade{ }
	
	
	
	#footer{ width: 100%; padding: 0px; }
	#footer #info{ margin: 13px 0px 10px 20px; width:auto; }
	#footer #numedia{ }
 
	#pedidoonline_popup{ } 
	#pedidoonline_popup .mfp-close{ }
	#pedidoonline_popup ul{ } 
	#pedidoonline_popup ul a{  }
	#pedidoonline_popup ul a li{ width: 100%; }
	#pedidoonline_popup ul a li span{ }
	#pedidoonline_popup ul a li img{width:36px; }
}

/*  
 Wide Mobile Layout:480px.
 Gutters:24px.
 Outer margins:22px.
 Inherits styles from:Default Layout, Mobile Layout.
 
 //position:relative;
*/

@media only screen and (min-width:480px) and (max-width:767px) {
 	#header{ }
	#header #header-wrapper{ width: 100%; height: auto; min-height: 70px; height:auto; background:url(../image/bg/header_line.png) repeat-x left bottom #820102; padding: 0px; }
	
	#header #header-wrapper #contact{ display:none; width: 214px;  }
	#header #header-wrapper #contact img{ display:none; }
	#header #header-wrapper #contact ul{ width:100%; }
	#header #header-wrapper #contact ul li{ float: left; }
	#header #header-wrapper #contact ul li img{ display:block; width: auto; height: 27px; margin: 1px 0px 0px 0px; }
	
	#header #header-wrapper #logo{ margin: 0px 0px 2px 10px; height: 68px; }
	#header #header-wrapper #logo a{}
	#header #header-wrapper #logo a img{  }
	#header #header-wrapper #logo a #logo_full{ display:none; }
	#header #header-wrapper #logo a #logo_small{ display:block; }
	
	#header #header-wrapper #menu{ margin: 10px 0px 0px 0px; overflow: visible; }
	
	#header #header-wrapper #menu #mobile{ display:block; margin: 0px 20px 0px 0px; }
	#header #header-wrapper #menu #mobile img{ width:50px; height:50px; }
	
	#header #header-wrapper #menu #social-bar{ display:none; }
	#header #header-wrapper #menu #social-bar ul{ }
	#header #header-wrapper #menu #social-bar ul li{  }
	#header #header-wrapper #menu #social-bar ul li a{ }
	#header #header-wrapper #menu #social-bar ul li img{ width:40px; height:40px; }
	
	#header #header-wrapper #menu #nav-inst{ clear: both; float: none; margin: 95px 0px 0px 0px;  display:none; background: #f7951e; }
	#header #header-wrapper #menu #nav-inst ul{ }
	#header #header-wrapper #menu #nav-inst ul li{ text-align: center; margin: 5px 0px 0px 1%; width: 31%; display: inline-block; }
	#header #header-wrapper #menu #nav-inst ul li:after { content: ""; }
	#header #header-wrapper #menu #nav-inst ul li a{ display:block; font-weight: bold; text-transform: uppercase; font-size: 14px; color:#fff; background:#770206; padding:12px 5px 12px 5px; text-decoration:none; }
	#header #header-wrapper #menu #nav-inst ul li a:hover{ color:#770206; background:#d37302; }
		  
	#header #header-wrapper #menu #nav{ clear: both; float:none; margin: 0px 0px 2px 0px; padding: 0px 0px 5px 0px;  display:none; background: #f7951e;  }
	#header #header-wrapper #menu #nav ul{}
	#header #header-wrapper #menu #nav ul li{ text-align: center; margin: 5px 0px 0px 1%; width: 31%; display: inline-block; }
	#header #header-wrapper #menu #nav ul li a{ display:block; font-weight: bold; text-transform: uppercase; font-size: 14px; color:#fff; background:#770206; padding:12px 5px 12px 5px; text-decoration:none; }
	#header #header-wrapper #menu #nav ul li a:hover{ color:#770206; background:#d37302; }
	#header #header-wrapper #menu #nav ul li a img{ display:none; }
	
	#header #header-wrapper #line{ margin: 0px 0px 0px 0px; }
	
	
	#section{ width: 100%; margin: 70px auto; padding: 0px; }
	#section .section{ min-height:inherit; padding: 5px 0px 20px 0px; }
	#section .section-wrapper{ width: 100%; }
	#section #section-banner{ }
	#section #section-cardapio{ }
	#section #section-promocao{ }
	#section #section-entrega{ }
	#section #section-fidelidade{ }
	
	
	
	#footer{ width: 100%; padding: 0px; }
	#footer #info{ margin: 13px 0px 10px 20px; width:auto; }
	#footer #numedia{ }
 
	#pedidoonline_popup{ } 
	#pedidoonline_popup .mfp-close{ }
	#pedidoonline_popup ul{ } 
	#pedidoonline_popup ul a{  }
	#pedidoonline_popup ul a li{ width: 32%; }
	#pedidoonline_popup ul a li span{ font-size: 11px; }
	#pedidoonline_popup ul a li img{ width:50px; }
	
}



