/*		Default Layout:992px. 
		Gutters:24px.
		Outer margins:48px.
		Leftover space for scrollbars @1024px:32px.
-------------------------------------------------------------------------------
cols		1		2		3		4		5		6		7		8		9		10
px			68		160		252		344		436		528		620		712		804		896		*/

#section-entrega{}

#section-entrega #title{ font-size: 32px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:left; }
#section-entrega #titleSub{ font-size: 12px; text-transform: uppercase; margin: 21px 0px 15px 0px; float:right; color: #000; }

#section-entrega #content{ clear:both; }

#section-entrega #content #left{ float: left; width: 100px; overflow: hidden; }

#section-entrega #content #left #areas{  width: 100%; background: #d37302; }
#section-entrega #content #left #areas ul{ margin: 0 auto; width: 100%; text-align:left; }
#section-entrega #content #left #areas ul li{ text-align: center; border-bottom: 1px solid #770206; margin: 0px 0px 0px 0px; padding: 10px 0px 10px 0px; width: 100%; font-size: 12px; }
#section-entrega #content #left #areas ul li a{ color:#fff; text-transform:uppercase; font-weight:bold; }
#section-entrega #content #left #areas ul li a:hover{ color:#000; }
#section-entrega #content #left #areas ul li a img{  width: 100%; height:auto; max-width:50px; max-height:50px; }
#section-entrega #content #left #areas ul li a span{ width: 100%; display: block;  }
#section-entrega #content #left #areas ul li:last-child{ border-bottom: 0px solid #770206; }
.selectMenu{ background: #f7951e; }


#section-entrega #content #right{  float: right; width: 790px; overflow: hidden; }

#section-entrega #content #right #item{  }

#section-entrega #content #right #item #content-item{ clear:both; margin: 0px 0px 0px 0px; overflow:hidden; }

#section-entrega #content #right #item #content-item #content-item-left{ float: left; width: 386px; }
#section-entrega #content #right #item #content-item #content-item-left #thumb{ width: 386px; height: 257px; background:#e0e0e0;  -webkit-background-size: cover; -o-background-size: cover; -khtml-background-size: cover; -moz-background-size: cover; }
#section-entrega #content #right #item #content-item #content-item-left #title{ font-size: 32px; font-weight: bold; text-transform: uppercase; margin:0px; padding: 10px 10px 10px 10px; background: #770206; color: #fff; width: 366px; text-align: right; }
#section-entrega #content #right #item #content-item #content-item-left #phone{ clear:both; font-size:12px; font-weight:bold; text-align: right; margin: 10px 0px 0px 0px; }
#section-entrega #content #right #item #content-item #content-item-left #phone span{ font-size:25px; font-weight:bold; }
#section-entrega #content #right #item #content-item #content-item-left #address{ text-align: right; text-transform: uppercase; }
#section-entrega #content #right #item #content-item #content-item-left #city{ text-align: right; text-transform: uppercase; }
#section-entrega #content #right #item #content-item #content-item-left #cep{ text-align: right; text-transform: uppercase; }
#section-entrega #content #right #item #content-item #content-item-left #info{ text-align: right; text-transform: uppercase; margin: 20px 0px 0px 0px; }

#section-entrega #content #right #item #content-item #content-item-right{ float:right; width: 390px; overflow:hidden;  color:#fff;  }

#section-entrega #content #right #item #content-item #content-item-right #table-place{ clear:both;  border: none; }
#section-entrega #content #right #item #content-item #content-item-right #table-place table{ width: 100%; color: #fff; font-weight:bold; }
#section-entrega #content #right #item #content-item #content-item-right #table-place table tr{}
#section-entrega #content #right #item #content-item #content-item-right #table-place table tr td{}
#section-entrega #content #right #item #content-item #content-item-right #table-place table tr td #title{ font-size: 12px; font-weight: bold; text-transform: uppercase; margin: 0px; }
#section-entrega #content #right #item #content-item #content-item-right #table-place table tr td #price{ font-size: 12px; font-weight:normal; }


.CSSTableGenerator td {
	padding: 5px 20px 5px 20px;
}

		
/*		Tablet Layout:768px.
		Gutters:24px.
		Outer margins:28px.
		Inherits styles from:Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width:768px) and (max-width:991px) {

	#section-entrega{}
	
	#section-entrega #title{ margin: 10px 0px 15px 10px; }
	#section-entrega #titleSub{ margin: 21px 10px 15px 0px; }
	
	#section-entrega #content{ }
	
	#section-entrega #content #left{ width: 10%; }
	
	#section-entrega #content #left #areas{ }
	#section-entrega #content #left #areas ul{  }
	#section-entrega #content #left #areas ul li{ }
	#section-entrega #content #left #areas ul li a{ font-size: 10px; }
	#section-entrega #content #left #areas ul li a:hover{ }
	#section-entrega #content #left #areas ul li a img{ width: 80%; }
	#section-entrega #content #left #areas ul li a span{ }
	#section-entrega #content #left #areas ul li:last-child{ }
	
	#section-entrega #content #right{ width: 89%; }
	
	#section-entrega #content #right #item{  }
	
	#section-entrega #content #right #item #content-item{ }
	
	#section-entrega #content #right #item #content-item #content-item-left{ width: 45%; }
	#section-entrega #content #right #item #content-item #content-item-left #thumb{ width: 100%; height: 210px; }
	#section-entrega #content #right #item #content-item #content-item-left #title{ padding: 10px 3% 10px 3%; width: 94%; }
	#section-entrega #content #right #item #content-item #content-item-left #phone{ }
	#section-entrega #content #right #item #content-item #content-item-left #phone span{ }
	#section-entrega #content #right #item #content-item #content-item-left #address{ }
	#section-entrega #content #right #item #content-item #content-item-left #city{  }
	#section-entrega #content #right #item #content-item #content-item-left #cep{ }
	#section-entrega #content #right #item #content-item #content-item-left #info{ }
	
	#section-entrega #content #right #item #content-item #content-item-right{ width: 50%; }
	
	#section-entrega #content #right #item #content-item #content-item-right #table-place{ }
	#section-entrega #content #right #item #content-item #content-item-right #table-place table{ }
	#section-entrega #content #right #item #content-item #content-item-right #table-place table tr{}
	#section-entrega #content #right #item #content-item #content-item-right #table-place table tr td{ }

}

/*		
	Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout
*/

@media only screen and (max-width:767px) {

	#section-entrega{}
	
	#section-entrega #title{ }
	#section-entrega #titleSub{ display:none; }
	
	#section-entrega #content{ }
	
	#section-entrega #content #left{ float:none; width:100%; }
	
	#section-entrega #content #left #areas{ }
	#section-entrega #content #left #areas ul{ width: 100%; }
	#section-entrega #content #left #areas ul li{ display: inline-block; width: 32%;  border-bottom: none; }
	#section-entrega #content #left #areas ul li a{ }
	#section-entrega #content #left #areas ul li a:hover{ }
	#section-entrega #content #left #areas ul li a img{ width: 30px; height: auto; }
	#section-entrega #content #left #areas ul li a span{ width: 100%; }
	#section-entrega #content #left #areas ul li:last-child{ }
	
	#section-entrega #content #right{ float:none; width:100%; }
	
	#section-entrega #content #right #item{  }
	
	#section-entrega #content #right #item #content-item{ }
	
	#section-entrega #content #right #item #content-item #content-item-left{ float: none; width: 90%; margin: 10px auto; }
	#section-entrega #content #right #item #content-item #content-item-left #thumb{ width:100%; height:100px; }
	#section-entrega #content #right #item #content-item #content-item-left #title{ width: 100%; padding: 10px 0px 10px 0px; }
	#section-entrega #content #right #item #content-item #content-item-left #phone{ }
	#section-entrega #content #right #item #content-item #content-item-left #phone span{ }
	#section-entrega #content #right #item #content-item #content-item-left #address{ }
	#section-entrega #content #right #item #content-item #content-item-left #city{ }
	#section-entrega #content #right #item #content-item #content-item-left #cep{ }
	#section-entrega #content #right #item #content-item #content-item-left #info{ }
	
	#section-entrega #content #right #item #content-item #content-item-right{ float: none; width: 100%; }
	
	#section-entrega #content #right #item #content-item #content-item-right #table-place{ text-align:center; }
	#section-entrega #content #right #item #content-item #content-item-right #table-place table{ margin: 0 auto; width: 90%; }
	#section-entrega #content #right #item #content-item #content-item-right #table-place table tr{}
	#section-entrega #content #right #item #content-item #content-item-right #table-place table tr td{ }

}

/*		
	Wide Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout, Mobile Layout.
*/

@media only screen and (min-width:480px) and (max-width:767px) {
	
	#section-entrega{}
	
	#section-entrega #title{ }
	#section-entrega #titleSub{ display:none; }
	
	#section-entrega #content{ }
	
	#section-entrega #content #left{ float:none; width:100%; }
	
	#section-entrega #content #left #areas{ }
	#section-entrega #content #left #areas ul{ width: 100%; }
	#section-entrega #content #left #areas ul li{ display: inline-block; width: 32%; border-bottom: none; }
	#section-entrega #content #left #areas ul li a{ }
	#section-entrega #content #left #areas ul li a:hover{ }
	#section-entrega #content #left #areas ul li a img{ width: 30px; height: auto; }
	#section-entrega #content #left #areas ul li a span{ width: 100%; }
	#section-entrega #content #left #areas ul li:last-child{ }
	
	#section-entrega #content #right{ float:none; width:100%; }
	
	#section-entrega #content #right #item{  }
	
	#section-entrega #content #right #item #content-item{ }
	
	#section-entrega #content #right #item #content-item #content-item-left{ float: none; width: 90%; margin: 10px auto; }
	#section-entrega #content #right #item #content-item #content-item-left #thumb{ width:100%; height:100px; }
	#section-entrega #content #right #item #content-item #content-item-left #title{ width: 100%; padding: 10px 0px 10px 0px; }
	#section-entrega #content #right #item #content-item #content-item-left #phone{ }
	#section-entrega #content #right #item #content-item #content-item-left #phone span{ }
	#section-entrega #content #right #item #content-item #content-item-left #address{ }
	#section-entrega #content #right #item #content-item #content-item-left #city{ }
	#section-entrega #content #right #item #content-item #content-item-left #cep{ }
	#section-entrega #content #right #item #content-item #content-item-left #info{ }
	
	#section-entrega #content #right #item #content-item #content-item-right{ float: none; width: 100%; }
	
	#section-entrega #content #right #item #content-item #content-item-right #table-place{ text-align:center; }
	#section-entrega #content #right #item #content-item #content-item-right #table-place table{ margin: 0 auto; width: 90%; }
	#section-entrega #content #right #item #content-item #content-item-right #table-place table tr{}
	#section-entrega #content #right #item #content-item #content-item-right #table-place table tr td{ }

}