/*		Default Layout:992px. 
		Gutters:24px.
		Outer margins:48px.
		Leftover space for scrollbars @1024px:32px.
-------------------------------------------------------------------------------
cols		1		2		3		4		5		6		7		8		9		10
px			68		160		252		344		436		528		620		712		804		896		*/

#section-promocao{}

#section-promocao #title{ font-size: 32px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:left; }
#section-promocao #titleSub{ font-size: 12px; text-transform: uppercase; margin: 21px 0px 15px 0px; float:right; color: #000; }

#section-promocao #content{ clear:both; }

#section-promocao #content .superPrato{ color:#fff; background:#348dcc; }
#section-promocao #content .bigPrato{ color:#fff; background:#895742; }
#section-promocao #content .combo{ color:#fff; background:#D26A51; }
#section-promocao #content .light{ color:#fff; background:#6EBF77; }
#section-promocao #content .other{ color:#fff; background:#f7951e; }

#section-promocao #content .bigPrato-sub{ color:#442B21; }
#section-promocao #content .combo-sub{ color:#672D1F; }
#section-promocao #content .light-sub{ color:#245129; }
#section-promocao #content .other-sub{ color:#89500A; }


#section-promocao #content .titleGroup{  margin-top: -15px; text-transform:uppercase; font-size: 26px; font-weight: bold; padding: 0px 0px 0px 0px; border-bottom: 0px solid #f7951e; color: #f7951e; }
#section-promocao #content .titleGroup span{ display: initial; font-size: 15px; color: #000; font-weight: normal; }
#section-promocao #content .titleGroup .subTitleMobile{ display: none; text-transform:uppercase; font-size: 12px; font-weight: bold; color: #770206; }


#section-promocao #content .titleGroupSuperPratos{ border-bottom: 3px solid #348dcc; color: #348dcc; }
#section-promocao #content .titleGroupBigPratos{ border-bottom: 3px solid #895742; color: #895742; }
#section-promocao #content .titleGroupCombo{ border-bottom: 3px solid #D26A51; color: #D26A51; }
#section-promocao #content .titleGroupLight{ border-bottom: 3px solid #6EBF77; color: #6EBF77; }

#section-promocao #content .subBarGroup{ margin: 10px 0px; text-transform:uppercase; font-size: 20px; font-weight: bold; padding: 3px 0px 3px 10px; color:#fff; background:#f7951e; }
#section-promocao #content .subBarGroupCombo{   background: none; color: #000; font-weight: normal; font-size: 10px; padding: 0px 0px 0px 4px; margin: 0; text-transform: lowercase; }
#section-promocao #content .subBarGroupCombo .subBarGroupInfo{ font-size: 16px;  display: block; color:#fff; }
#section-promocao #content .subBarGroupCombo .subBarGroupInfoSub{ font-size: 10px; font-weight:normal; }

#section-promocao #content #thumbs{  }
#section-promocao #content #thumbs ul{ text-align:left;  margin-top: 15px; }
#section-promocao #content #thumbs ul li{ width:443px; height:205px; margin: 5px 5px 5px 5px; } 

#section-promocao #content #thumbs ul li #thumbs-left{ float:left; width:50%; height:100%; @background:#f7951e; }
#section-promocao #content #thumbs ul li #thumbs-left #thumb{ width:222px; @height:147px; height:100%; background:#e0e0e0; margin:0px;  -webkit-background-size: cover; -o-background-size: cover; -khtml-background-size: cover; -moz-background-size: cover;  }
#section-promocao #content #thumbs ul li #thumbs-left #social{ width:21px; height:21px; margin:11px 0 0 10px; float:left; display:none; }

#section-promocao #content #thumbs ul li #thumbs-right{ float:right; width:50%; height:100%; background:#fff; }
#section-promocao #content #thumbs ul li #thumbs-right .destaque{ font-size:14px; text-transform:uppercase; @font-weight:bold; margin: 0px 0px 0px 0px; padding:3px; float: right; }

#section-promocao #content #thumbs ul li #thumbs-right #title{ font-size:14px; text-transform:uppercase; font-weight:bold; margin: 5px 5px 0px 5px; color:#770206; clear:both; }
#section-promocao #content #thumbs ul li #thumbs-right #info{ color:#000; margin: 5px 5px 0px 5px; clear:both; }
#section-promocao #content #thumbs ul li #thumbs-right #weight{ margin: 0px 5px 0px 5px; color:#000; font-weight:normal; }
#section-promocao #content #thumbs ul li #thumbs-right #weight span{ color:#770206; font-weight:bold; }
#section-promocao #content #thumbs ul li #thumbs-right #weight .big{ color: #fff; font-weight: bold; padding: 5px; font-size: 15px; text-align: right; margin: 2px 0px; display:block; width: initial; float: right; }
#section-promocao #content #thumbs ul li #thumbs-right .tagCombo{ color: #fff; font-weight: bold; padding: 5px; font-size: 12px; text-align: right; margin: 2px 0px; width: initial; float: right; }
#section-promocao #content #thumbs ul li #thumbs-right #price{ @background: #EBEBEB; position: absolute; bottom: 0; right: 0; width: 100%  }
#section-promocao #content #thumbs ul li #thumbs-right #price div{ float: right; clear: both; display: table; font-size: 20px; font-weight: bold; text-transform: uppercase; @color:#000; margin: 0px 5px 0px 5px;   }
#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo{ font-size: 12px; display: table-cell; vertical-align: middle; }
#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo span{ font-size: 10px; text-transform:lowercase; }
#section-promocao #content #thumbs ul li #thumbs-right #price div .priceValue{ display: table-cell; vertical-align: middle; }


#section-promocao #content #thumbs ul li a div{}

		
/*		Tablet Layout:768px.
		Gutters:24px.
		Outer margins:28px.
		Inherits styles from:Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width:768px) and (max-width:991px) {
	#section-promocao{}

	#section-promocao #title{ margin: 10px 0px 15px 10px; }
	#section-promocao #titleSub{ margin: 21px 10px 15px 0px; }
	
	#section-promocao #content{ }
	
	#section-promocao #content .titleGroup span{ display:initial; }
	#section-promocao #content .titleGroup .subTitleMobile{ display: none; }
	
	#section-promocao #content #thumbs{ }
	#section-promocao #content #thumbs ul{ }
	#section-promocao #content #thumbs ul li{ width: 48%; 5px 5px 5px 8px;  } 
	
	#section-promocao #content #thumbs ul li #thumbs-left{  width: 45%; }
	#section-promocao #content #thumbs ul li #thumbs-left #thumb{ width: 100%; }
	#section-promocao #content #thumbs ul li #thumbs-left #social{ }
	#section-promocao #content #thumbs ul li #thumbs-left div{ }
	#section-promocao #content #thumbs ul li #thumbs-left div span{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right{  width: 55%; }
	#section-promocao #content #thumbs ul li #thumbs-right #number{ }
	#section-promocao #content #thumbs ul li #thumbs-right #title{ }
	#section-promocao #content #thumbs ul li #thumbs-right #info{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right #weight{ }
	#section-promocao #content #thumbs ul li #thumbs-right #weight span{ }
	#section-promocao #content #thumbs ul li #thumbs-right #weight .big{ padding: 2px; }
	
	
	#section-promocao #content #thumbs ul li a div{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo{ font-size: 12px; }
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo span{ font-size: 10px; text-transform:lowercase; }
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceValue{ font-size: 20px; }

}





/*		
	Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout
*/

@media only screen and (max-width:767px) {
	#section-promocao{}

	#section-promocao #title{ }
	#section-promocao #titleSub{ display:none; }
	
	#section-promocao #content{ }
	
	#section-promocao #content .titleGroup span{ display:none; }
	#section-promocao #content .titleGroup .subTitleMobile{ display: block; }
	
	#section-promocao #content #thumbs{ }
	#section-promocao #content #thumbs ul{ }
	#section-promocao #content #thumbs ul li{ width: 100%; margin: 5px 0px 5px 0px; height:225px; } 
	
	#section-promocao #content #thumbs ul li #thumbs-left{ }
	#section-promocao #content #thumbs ul li #thumbs-left #thumb{ width: 100%; }
	#section-promocao #content #thumbs ul li #thumbs-left #social{ }
	#section-promocao #content #thumbs ul li #thumbs-left div{ margin: 10px 10px 0px 0px; }
	#section-promocao #content #thumbs ul li #thumbs-left div span{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right{ }
	#section-promocao #content #thumbs ul li #thumbs-right #number{ }
	#section-promocao #content #thumbs ul li #thumbs-right #title{ }
	#section-promocao #content #thumbs ul li #thumbs-right #info{ }
	
	
	#section-promocao #content #thumbs ul li #thumbs-right #weight{ }
	#section-promocao #content #thumbs ul li #thumbs-right #weight span{ }
	#section-promocao #content #thumbs ul li #thumbs-right #weight .big{ padding: 5px; }
	
	#section-promocao #content #thumbs ul li a div{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo{ font-size: 12px; }
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo span{ font-size: 8px; text-transform:lowercase; }
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceValue{ font-size: 15px; }

}


/*		
	Wide Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout, Mobile Layout.
*/

@media only screen and (min-width:480px) and (max-width:767px) {
	#section-promocao{}

	#section-promocao #title{ }
	#section-promocao #titleSub{ display:none; }
	
	#section-promocao #content{ }
	
	#section-promocao #content .titleGroup span{ display:none; }
	#section-promocao #content .titleGroup .subTitleMobile{ display: block; }
	
	#section-promocao #content #thumbs{ }
	#section-promocao #content #thumbs ul{ }
	#section-promocao #content #thumbs ul li{ width: 100%; margin: 5px 0px 5px 0px; height:225px; } 
	
	#section-promocao #content #thumbs ul li #thumbs-left{ }
	#section-promocao #content #thumbs ul li #thumbs-left #thumb{ width: 100%; }
	#section-promocao #content #thumbs ul li #thumbs-left #social{ }
	#section-promocao #content #thumbs ul li #thumbs-left div{ margin: 10px 10px 0px 0px; }
	#section-promocao #content #thumbs ul li #thumbs-left div span{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right{ }
	#section-promocao #content #thumbs ul li #thumbs-right #number{ }
	#section-promocao #content #thumbs ul li #thumbs-right #title{ font-size: 12px; }
	#section-promocao #content #thumbs ul li #thumbs-right #info{ }
	
	#section-promocao #content #thumbs ul li #thumbs-right #weight{ }
	#section-promocao #content #thumbs ul li #thumbs-right #weight span{ }
	#section-promocao #content #thumbs ul li #thumbs-right #weight .big{ padding: 5px; }
	
	#section-promocao #content #thumbs ul li a div{ }
	
	
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo{ font-size: 12px; }
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceInfo span{ font-size: 10px; text-transform:lowercase; }
	#section-promocao #content #thumbs ul li #thumbs-right #price div .priceValue{ font-size: 20px; }

}
