/*		Default Layout:992px. 
		Gutters:24px.
		Outer margins:48px.
		Leftover space for scrollbars @1024px:32px.
-------------------------------------------------------------------------------
cols		1		2		3		4		5		6		7		8		9		10
px			68		160		252		344		436		528		620		712		804		896		*/

#section-strog{}

#section-strog #title{ font-size: 32px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:left; }
#section-strog #titleSub{ font-size: 12px; text-transform: uppercase; margin: 21px 0px 15px 0px; float:right; color: #000; }

#section-strog #content{ clear:both; }

#section-strog #content #left{ float: left; width: 48%; overflow: hidden;  }
#section-strog #content #left #title{ font-size: 14px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:none; }
#section-strog #content #left #texto{ color:#000; background:#fcd07f; padding:15px; }
#section-strog #content #left #texto ul{ text-align:left; }
#section-strog #content #left #texto ul li{ margin: 10px 0px 10px 0px; display:block; }

#section-strog #content #right{  float: right; width: 48%; overflow: hidden;  }
#section-strog #content #right #title{ font-size: 14px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:none; }
#section-strog #content #right #texto{ color:#000; background:#fcd07f; padding:15px; }
#section-strog #content #right #texto ul{ }
#section-strog #content #right #texto ul li{ margin: 10px 0px 10px 0px; display:block; }
		
/*		Tablet Layout:768px.
		Gutters:24px.
		Outer margins:28px.
		Inherits styles from:Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width:768px) and (max-width:991px) {
	#section-strog{}

	#section-strog #title{ }
	#section-strog #titleSub{ }
	
	#section-strog #content{ }
	
	#section-strog #content #left{ }
	#section-strog #content #left #title{ }
	#section-strog #content #left #texto{ }
	#section-strog #content #left #texto ul{ }
	#section-strog #content #left #texto ul li{ }
	
	#section-strog #content #right{  }
	#section-strog #content #right #title{ }
	#section-strog #content #right #texto{ }
	#section-strog #content #right #texto ul{ }
	#section-strog #content #right #texto ul li{ }

}

/*		
	Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout
*/

@media only screen and (max-width:767px) {
	#section-strog{}

	#section-strog #title{ }
	#section-strog #titleSub{ display:none; }
	
	#section-strog #content{ }
	
	#section-strog #content #left{ }
	#section-strog #content #left #title{ }
	#section-strog #content #left #texto{ }
	#section-strog #content #left #texto ul{ }
	#section-strog #content #left #texto ul li{ }
	
	#section-strog #content #right{  }
	#section-strog #content #right #title{ }
	#section-strog #content #right #texto{ }
	#section-strog #content #right #texto ul{ }
	#section-strog #content #right #texto ul li{ }

}

/*		
	Wide Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout, Mobile Layout.
*/

@media only screen and (min-width:480px) and (max-width:767px) {
	#section-strog{}

	#section-strog #title{ }
	#section-strog #titleSub{ display:none; }
	
	#section-strog #content{ }
	
	#section-strog #content #left{ }
	#section-strog #content #left #title{ }
	#section-strog #content #left #texto{ }
	#section-strog #content #left #texto ul{ }
	#section-strog #content #left #texto ul li{ }
	
	#section-strog #content #right{  }
	#section-strog #content #right #title{ }
	#section-strog #content #right #texto{ }
	#section-strog #content #right #texto ul{ }
	#section-strog #content #right #texto ul li{ }
	

}