/*		Default Layout:992px. 
		Gutters:24px.
		Outer margins:48px.
		Leftover space for scrollbars @1024px:32px.
-------------------------------------------------------------------------------
cols		1		2		3		4		5		6		7		8		9		10
px			68		160		252		344		436		528		620		712		804		896		*/

#section-fidelidade{}

#section-fidelidade #title{ font-size: 32px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:left; }
#section-fidelidade #titleSub{ font-size: 12px; text-transform: uppercase; margin: 21px 0px 15px 0px; float:right; color: #000; }

#section-fidelidade #content{ clear:both; }

#section-fidelidade #content #all{ overflow: hidden;  color:#000; background:#fcd07f; padding:15px; text-transform: uppercase; text-align:center;  }
#section-fidelidade #content #all #title{ font-size: 14px; font-weight: bold; float:none; margin:0px; color:#770206; }
#section-fidelidade #content #all #subtitle{ font-size: 12px; font-weight: bold;   }

#section-fidelidade #content #title{ font-size: 14px; font-weight: bold; text-transform: uppercase; margin: 10px 0px 15px 0px; float:none; text-align: center; }

#section-fidelidade #content #left{ float: left; width: 48%; overflow: hidden;  }
#section-fidelidade #content #left #texto{ color:#000; background:#fcd07f; padding:15px; }
#section-fidelidade #content #left #texto ul{ text-align:left; }
#section-fidelidade #content #left #texto ul li{ margin: 10px 0px 10px 0px; display:block; }

#section-fidelidade #content #right{  float: right; width: 48%; overflow: hidden;  }
#section-fidelidade #content #right #texto{ color:#000;  background:#fcd07f; padding:15px; }
#section-fidelidade #content #right #texto ul{ }
#section-fidelidade #content #right #texto ul li{ margin: 10px 0px 10px 0px; display:block; }
		
/*		Tablet Layout:768px.
		Gutters:24px.
		Outer margins:28px.
		Inherits styles from:Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width:768px) and (max-width:991px) {
	
	#section-fidelidade{}

	#section-fidelidade #title{ margin: 10px 0px 15px 10px; }
	#section-fidelidade #titleSub{ margin: 21px 10px 15px 0px; }
	
	#section-fidelidade #content{ }
	
	#section-fidelidade #content #title{ font-size: 17px; }
	
	#section-fidelidade #content #left{ margin: 0px 0px 0px 10px; }	
	#section-fidelidade #content #left #texto{ }
	#section-fidelidade #content #left #texto ul{ }
	#section-fidelidade #content #left #texto ul li{ }
	
	#section-fidelidade #content #right{ margin: 0px 10px 0px 0px; }
	#section-fidelidade #content #right #texto{ }
	#section-fidelidade #content #right #texto ul{ }
	#section-fidelidade #content #right #texto ul li{ }

}

/*		
	Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout
*/

@media only screen and (max-width:767px) {

	#section-fidelidade{ }

	#section-fidelidade #title{ }
	#section-fidelidade #titleSub{ display:none; }
	
	#section-fidelidade #content{ }
	
	#section-fidelidade #content #title{ }
	
	#section-fidelidade #content #left{ }
	#section-fidelidade #content #left #texto{ }
	#section-fidelidade #content #left #texto ul{ }
	#section-fidelidade #content #left #texto ul li{ }
	
	#section-fidelidade #content #right{ }
	#section-fidelidade #content #right #texto{ }
	#section-fidelidade #content #right #texto ul{ }
	#section-fidelidade #content #right #texto ul li{ }

}

/*		
	Wide Mobile Layout:480px.
	Gutters:24px.
	Outer margins:22px.
	Inherits styles from:Default Layout, Mobile Layout.
*/

@media only screen and (min-width:480px) and (max-width:767px) {
	
	#section-fidelidade{ }

	#section-fidelidade #title{ }
	#section-fidelidade #titleSub{ display:none; }
	
	#section-fidelidade #content{ }
	
	#section-fidelidade #content #title{ }
	
	#section-fidelidade #content #left{ }
	#section-fidelidade #content #left #texto{ }
	#section-fidelidade #content #left #texto ul{ }
	#section-fidelidade #content #left #texto ul li{ }
	
	#section-fidelidade #content #right{ }
	#section-fidelidade #content #right #texto{ }
	#section-fidelidade #content #right #texto ul{ }
	#section-fidelidade #content #right #texto ul li{ }

}