<footer class="text-white-50" style="background-color: tomato;">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="social-networks">
      <a href="#">
        <span class="social-networks-icons">
          <i class="fab fa-facebook-f"></i>
        </span>
      </a>
      <a href="#">
        <span class="social-networks-icons">
          <i class="fab fa-instagram"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="container text-center">
    <small class="text-white">Copyright &copy; Strog</small>
  </div>
</footer>