<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/Banner_PromoChicken.png" alt="First slide">
            <div class="rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/Banner_PromoChicken.png" alt="Second slide">
            <div class="rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/Banner_PromoChicken.png" alt="Third slide">
            <div class="rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
    </mdb-carousel-item>
</mdb-carousel>