<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
  <span>LOGO</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" matTooltip="Cardápio">
    <mat-icon>menu_book</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" matTooltip="Promoções">
    <mat-icon>attach_money</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" matTooltip="Local de entrega">
    <mat-icon>local_shipping</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" matTooltip="Programa de fidelidade">
    <mat-icon>loyalty</mat-icon>
  </button>
</mat-toolbar>