<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="p-3">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="center center">
      <div class="circle-select p-4" fxLayout="column" fxLayoutAlign="center center">
        <div class="circle-select-text d-flex align-items-center">
          <i class="fas fa-hamburger fa-1x"></i>
        </div>
      </div>
      <p>Cardápio</p>
    </div>
    <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="center center">
      <div class="circle-select p-4" fxLayout="column" fxLayoutAlign="center center">
        <div class="circle-select-text d-flex align-items-center">
          <i class="fas fa-hamburger fa-1x"></i>
        </div>
      </div>
      <p>Cardápio</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="center center">
      <div class="circle-select p-4" fxLayout="column" fxLayoutAlign="center center">
        <div class="circle-select-text d-flex align-items-center">
          <i class="fas fa-hamburger fa-1x"></i>
        </div>
      </div>
      <p>Cardápio</p>
    </div>
    <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="center center">
      <div class="circle-select p-4" fxLayout="column" fxLayoutAlign="center center">
        <div class="circle-select-text d-flex align-items-center">
          <i class="fas fa-hamburger fa-1x"></i>
        </div>
      </div>
      <p>Cardápio</p>
    </div>
  </div>
</div>