<div class="d-flex flex-row flex-wrap justify-content-around p-3">
  <div fxFlex="noshrink" style="background-color: blue;">Azul</div>
  <div fxFlex="noshrink" style="background-color: red;">Vermleho</div>
  <div fxFlex="noshrink" style="background-color: yellow;">Amarelo</div>
  <div fxFlex="noshrink" style="background-color: green;">Verde</div>
</div>

<!-- <div class="d-flex flex-wrap flex-row justify-content-around p-3">
  <div class="circle-select p-4 d-flex flex-shrink-1 justify-content-center align-content-center">
    <p class="circle-select-text d-flex align-items-center">Cardápido</p>
  </div>
  <div class="circle-select p-4 d-flex flex-shrink-1 justify-content-center align-content-center">
    <p class="circle-select-text d-flex align-items-center">Cardápido</p>
  </div>
  <div class="circle-select p-4 d-flex flex-shrink-1 justify-content-center align-content-center">
    <p class="circle-select-text d-flex align-items-center">Cardápido</p>
  </div>
  <div class="circle-select p-4 d-flex flex-shrink-1 justify-content-center align-content-center">
    <p class="circle-select-text d-flex align-items-center">Cardápido</p>
  </div>
</div> -->